In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

2. Apreens√£o de Menores na Baixada Fluminense

In [20]:
ocorrencias = pd.read_csv('https://www.ispdados.rj.gov.br/Arquivos/BaseDPEvolucaoMensalCisp.csv', sep= ';', encoding= 'latin1')
ocorrencias

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,15,6,0,1,0,0,441,3
2,5,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,47,2,1,0,0,0,637,3
3,6,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,6,...,NaN,NaN,26,2,1,0,0,0,473,3
4,7,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,4,...,NaN,NaN,10,1,3,0,0,0,147,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36624,159,8,2025,2025m08,35,4,Cachoeiras de Macacu,3300803,Interior,1,...,5.0,0.0,16,0,0,0,0,0,148,2
36625,165,8,2025,2025m08,33,5,Mangaratiba,3302601,Interior,0,...,5.0,0.0,21,2,0,0,0,0,179,2
36626,166,8,2025,2025m08,33,5,Angra dos Reis,3300100,Interior,3,...,11.0,3.0,63,8,0,0,0,0,595,2
36627,167,8,2025,2025m08,43,5,Paraty,3303807,Interior,0,...,3.0,0.0,13,2,0,1,0,0,234,2
36628,168,8,2025,2025m08,28,5,Rio Claro,3304409,Interior,1,...,1.0,0.0,5,0,0,0,0,0,50,2

In [25]:
ocorrencias_baixada = ocorrencias.loc[ocorrencias['regiao'] == 'Baixada Fluminense']
ocorrencias_baixada.sort_values(by="regiao")

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
38,48,1,2003,2003m01,24,3,Serop√©dica,3305554,Baixada Fluminense,4,...,NaN,NaN,28,0,1,0,0,0,139,3
24477,57,4,2018,2018m04,20,3,Nil√≥polis,3303203,Baixada Fluminense,1,...,4.0,0.0,69,4,2,0,0,0,654,3
24476,56,4,2018,2018m04,20,3,Nova Igua√ßu,3303500,Baixada Fluminense,15,...,2.0,1.0,78,7,0,0,0,0,800,3
24475,55,4,2018,2018m04,24,3,Queimados,3304144,Baixada Fluminense,8,...,24.0,2.0,47,3,1,0,0,0,406,3
24474,54,4,2018,2018m04,39,3,Belford Roxo,3300456,Baixada Fluminense,17,...,21.0,1.0,85,9,0,0,0,0,1431,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12268,52,11,2010,2010m11,20,3,Nova Igua√ßu,3303500,Baixada Fluminense,2,...,16.0,0.0,109,4,0,0,0,0,911,3
12267,51,11,2010,2010m11,24,3,Paracambi,3303609,Baixada Fluminense,0,...,3.0,0.0,25,1,0,0,0,0,104,3
12266,50,11,2010,2010m11,24,3,Itagua√≠,3302007,Baixada Fluminense,6,...,8.0,1.0,54,2,0,0,0,0,400,3
12273,57,11,2010,2010m11,20,3,Nil√≥polis,3303203,Baixada Fluminense,8,...,1.0,0.0,86,7,0,0,0,0,525,3
36551,67,8,2025,2025m08,34,3,Guapimirim,3301850,Baixada Fluminense,1,...,10.0,0.0,26,1,0,0,0,0,266,2

In [ ]:
ocorrencias_veiculos = ocorrencias_capital.groupby('cisp')['oc_veiculos'].sum().reset_index()   
ocorrencias_veiculos

In [10]:
aaapai_array = np.array(aaapai['aaapai'])

In [17]:
mediana = np.median(aaapai_array)
media = np.mean(aaapai_array)
q1 = np.percentile(aaapai_array, 25)
q2 = np.percentile(aaapai_array, 50)
q3 = np.percentile (aaapai_array, 75)
distancia = (media - mediana)/mediana
iqr = q3 - q1
limite_superior = q3 + (1.5 * iqr)
limite_inferior = q1 - (1.5 * iqr)
print(f'M√©dia: {media}')
print(f'Mediana: {mediana}')
print(f'Dist√¢ncia: {round(distancia*100,2)} %')
print(f'Limite Superior: {limite_superior}')
print(f'Limite Inferior: {limite_inferior}')

M√©dia: 1785.6363636363637
Mediana: 693.0
Dist√¢ncia: 157.67 %
Limite Superior: 6345.25
Limite Inferior: -3192.75

In [18]:
aaapai_outliers = aaapai.loc[aaapai['aaapai'] >= limite_superior]
aaapai_outliers.sort_values(by="aaapai")

Empty DataFrame
Columns: [munic, aaapai]
Index: []