In [1]:
import pandas as pd
import numpy as np

In [11]:
vendas = pd.read_csv('vendas.csv')
vendas1 = pd.read_csv('vendas1.csv')
vendas2 = pd.read_csv('vendas2.csv')
vendas3 = pd.read_csv('vendas3.csv')

df= pd.concat([vendas, vendas1, vendas2, vendas3], ignore_index= True)

df

,ID_Venda,ID_Cliente,ID_Produto,Data,Quantidade,Canal,Valor_Total
0,1,350,45,2022-09-23,4,Online,5795.64
1,2,925,68,2024-02-09,1,Loja Física,4614.41
2,3,915,75,2022-09-11,4,Online,2057.48
3,4,494,47,2024-05-10,4,Loja Física,12864.44
4,5,523,79,2023-10-15,4,Loja Física,13317.28
...,...,...,...,...,...,...,...
23995,23195,99,68,2024-11-06 00:00:00,2,Online,9228.82
23996,23196,225,90,2024-10-14 00:00:00,2,Loja Física,6536.63
23997,23197,974,15,2024-12-29 00:00:00,4,Loja Física,12565.21
23998,23198,269,44,2025-06-13 00:00:00,3,Loja Física,9834.99
23999,23199,54,23,2024-12-02 00:00:00,2,Online,9296.18

In [12]:
produtos = df.groupby('ID_Produto')['Quantidade'].sum().reset_index()   
produtos

    ID_Produto  Quantidade
0            1         543
1            2         624
2            3         600
3            4         568
4            5         672
..         ...         ...
95          96         601
96          97         638
97          98         605
98          99         596
99         100         107

[100 rows x 2 columns]

In [14]:
produtos_array = np.array(produtos['Quantidade'])

In [15]:
mediana = np.median(produtos_array)
media = np.mean(produtos_array)
q1 = np.percentile(produtos_array, 25)
q2 = np.percentile(produtos_array, 50)
q3 = np.percentile (produtos_array, 75)
distancia = (media - mediana)/mediana
iqr = q3 - q1
limite_superior = q3 + (1.5 * iqr)
limite_inferior = q1 - (1.5 * iqr)
variancia = np.var(produtos_array)
desvio_padrao = np.std(produtos_array)
coeficiente_variacao = (desvio_padrao/ media)*100
distancia_variancia = (variancia / (media ** 2))*100
print("Variância:", variancia)
print("Desvio Padrão:", desvio_padrao)
print("Coeficiente de Variação:", coeficiente_variacao)
print("Distância da variância em relação à média:", distancia_variancia)
print(f'Média: {media}')
print(f'Mediana: {mediana}')
print(f'Distância: {round(distancia*100,2)} %')
print(f'Limite Superior: {limite_superior}')
print(f'Limite Inferior: {limite_inferior}')
print(f'Q3: {q3}')

Variância: 4141.7491
Desvio Padrão: 64.35642236793466
Coeficiente de Variação: 10.708757902713057
Distância da variância em relação à média: 1.1467749581891933
Média: 600.97
Mediana: 600.5
Distância: 0.08 %
Limite Superior: 731.375
Limite Inferior: 482.375
Q3: 638.0